body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #1b1b2f; 
    color: #e3e3e3; 
}

h1 {
    text-align: center;
    color: #f5cb5c; 
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 20px;
    font-size: 2.5rem;
}

.bio {
    text-align: center;
    font-style: italic;
    color: #a29bfe; 
    margin: 10px 0 30px;
}
.gallery {
    display: flex;
    gap: 10px; 
    justify-content: center;
}


.gallery div {
    width: 20%; 
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.gallery img {
    width: 100%;
    border-radius: 8px; 
    display: block;
    transition: transform 0.3s ease-in-out;
    border: 3px solid #ccc;
    border-radius: 10px;
}
.gallery img:hover {
    transform: scale(1.1);
}